.inicio {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;

  .carousel {
    width: clamp(200px, 100%, 300px);
    margin: 0 auto;

    .carousel-inner {
      .carousel-item {
        padding: 10px;

        img {
          object-fit: cover;
          height: calc(70vh - 100px);
          border-radius: 1rem;
        }
      }
    }
  }
}

// Mobile M
@media screen and (min-width: 375px) {
  .inicio {
    .container {
      max-width: 90%;
      margin: 0 auto;

      padding: 0 1rem;

      h1 {
        font-size: calc(1rem + 3vw);
      }
    }

    .carousel {
      width: clamp(300px, 100%, 320px);
    }
  }
}

// Mobile L
@media screen and (min-width: 425px) {
  .inicio {
    .carousel {
      width: clamp(300px, 100%, 350px);
    }
  }
}

// Tablet
@media screen and (min-width: 768px) {
  .inicio {
    .container {
      max-width: 80%;
      padding: 0 2rem;

      h1 {
        font-size: calc(1rem + 2.5vw);
      }

      p {
        font-size: calc(0.8rem + 1vw);
      }
    }

    .carousel {
      width: clamp(320px, 100%, 400px);
    }
  }
}

// Laptop
@media screen and (min-width: 1024px) {
  .inicio {
    .container {
      margin-top: 3rem;
      padding: 0 3rem;

      h1 {
        font-size: calc(1.5rem + 2vw);
      }

      p {
        font-size: calc(1rem + 0.8vw);
      }
    }

    .carousel {
      width: clamp(400px, 100%, 500px);
    }
  }
}

// Laptop L
@media screen and (min-width: 1440px) {
  .inicio {
    .container {
      h1 {
        font-size: calc(1.8rem + 1vw);
      }

      p {
        font-size: calc(1.2rem + 0.5vw);
      }
    }

    .carousel {
      width: clamp(500px, 100%, 600px);
    }
  }
}

// 4k
@media screen and (min-width: 2560px) {
  .inicio {
    .container {
      h1 {
        font-size: calc(2rem + 1vw);
      }

      p {
        font-size: calc(1.5rem + 0.5vw);
      }
    }

    .carousel {
      width: clamp(600px, 100%, 700px);
    }
  }
}
