.contact {
  text-align: center;
  font-size: 16px;
  padding: 1rem;
  background-color: #141414;

  &__mailto {
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    color: #141414;
    background-color: #eeeeee;

    h2 {
      font-weight: 600;
      font-size: 1.2rem;
    }

    p {
      margin: 1rem 0;
      font-size: 0.9rem;
      font-weight: 400;
    }

    a {
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 100;
      border-radius: 1rem;
      padding: 0.5rem;
      border: 1px solid #141414;
      color: #141414;
    }
  }

  &__info {
    margin-top: 1rem;
    color: #ffffff;

    p {
      font-size: 0.9rem;

      &:first-child {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 0;

      li {
        a {
          font-size: 1.2rem;
          color: inherit;
        }
      }
    }
  }
}
