.menu {
  padding: 3rem 1rem;

  .container {
    text-align: center;
  }

  .menu__items {
    .item__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border-radius: 1rem;
      background-color: #ffffff;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

      .card__img {
        width: 20%;
        border-radius: 1rem;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .card__body {
        text-align: center;
        width: 60%;
        height: 60px;

        h3 {
          font-weight: bold;
          font-size: 1rem;
          letter-spacing: 2px;
        }

        p {
          display: none;
        }

        .card__price {
          display: block;
          font-weight: bold;
          font-size: 1rem;

          span {
            font-size: 0.8rem;
            color: #888888;
          }
        }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 0.6rem;
        transform: rotate(270deg);
        color: inherit;
      }
    }
  }

  label {
    display: block;
    text-align: center;
    font-weight: bold;
    width: 150px;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  #menuVerMas:checked~.menu__items .oculto {
    display: block;
  }

  #menuVerMas:checked~label .bi-dash-lg {
    display: inline-block;
  }

  #menuVerMas:checked~label .bi-plus-lg {
    display: none;
  }

  .oculto {
    display: none;
  }

  .bi-dash-lg {
    display: none;
  }
}

// Mobile M
@media screen and (min-width: 375px) {
  .menu {
    .container {
      max-width: 90%;
      margin: 0 auto;
    }

    .menu__items {
      max-width: calc(100% - 1rem);
      margin: 0 auto;

      .item__card {
        .card__img {
          width: calc(20% + 0.5rem);
        }

        .card__body {
          h3 {
            font-size: calc(0.8rem + 0.5vw);
          }

          .card__price {
            font-size: calc(0.8rem + 0.5vw);
          }

          p {
            font-size: calc(0.6rem + 0.5vw);
          }
        }

        a {
          font-size: calc(0.6rem + 0.5vw);
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: 768px) {
  .menu {
    .container {
      max-width: 75%;
      margin: 0 auto;

      h2 {
        font-size: calc(1.5rem + 0.5vw);
      }

      p {
        font-size: calc(1rem + 0.5vw);
      }
    }

    .menu__items {
      max-width: calc(80% - 2rem);
      margin: 0 auto;

      .item__card {
        padding: 1rem;

        .card__img {
          width: calc(20% + 0.8rem);
        }

        .card__body {
          h3 {
            font-size: calc(1rem + 0.5vw);
          }

          .card__price {
            font-size: calc(1rem + 0.5vw);
          }

          p {
            font-size: calc(8rem + 0.5vw);
          }

          a {
            font-size: calc(8rem + 0.5vw);
          }
        }
      }
    }

    label {
      font-size: calc(1rem + 0.5vw);
    }
  }
}

// Laptop
@media screen and (min-width: 1024px) {
  .menu {
    .container {
      max-width: 75%;
      margin: 0 auto;

      h2 {
        font-size: calc(1.5rem + 0.5vw);
      }

      p {
        font-size: calc(1rem + 0.5vw);
      }
    }

    .menu__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;

      .item__card {
        height: 120px;
      }

      a {
        display: none;
      }
    }

    label {
      display: none;
    }
  }

  .oculto {
    display: block !important;
  }
}

// Desktop
@media screen and (min-width: 1440px) {
  .menu {
    .container {
      max-width: 75%;
      margin: 0 auto;

      h2 {
        font-size: calc(1.5rem + 0.5vw);
      }

      p {
        font-size: calc(1rem + 0.5vw);
      }
    }

    .menu__items {

      .item__card {
        height: 120px;
      }
    }
  }
}

// 4k
@media screen and (min-width: 2560px) {
  .menu {
    .container {

      h2 {
        font-size: calc(2rem + 0.5vw);
      }

      p {
        font-size: calc(1.5rem + 0.5vw);
      }
    }

    .menu__items {
      display: grid;
      margin: 0 auto;

      .item__card {
        height: 200px;

        .card__img {
          width: calc(25% + 1rem);
        }

        .card__body {
          h3 {
            font-size: calc(1.5rem + 0.5vw);
          }

          .card__price {
            font-size: calc(1.5rem + 0.5vw);
          }

          p {
            font-size: calc(1.2rem + 0.5vw);
          }
        }
      }
    }
  }
}